{% if qr_code is not empty %}
  {{ qr_code }}
{% endif %}
<div class="clear">
  <h2> Recovery Codes </h2>
{% if recovery is not empty %}
  {% for codes in recovery %}
    {% for code in codes %}
      {{ code }}<br>
    {% endfor %}
  {% endfor %}
{% endif %}
</div>